@import '~bootstrap/scss/bootstrap.scss';

.pointer {
    cursor: pointer;
}

label {
    margin-bottom: .25rem;

    &.label-required {
        &.required::after {
            content: "*";
            display: inline-block;
            color: #FF4757;
            margin-left: 5px;
        }
    }
}